/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: center;
}
.icon-block .material-icons {
  font-size: flex;
}
.header {
  color: #990000ff;
  text-shadow: 2px 2px 9900005b;
  padding: center;
  font-family: fantasy;
  font-size: flex;
  font-weight: bolder;
  align-items: center;
  text-shadow: black;
}
.Character {
  color: #990000ff;
  font-weight: bold;
  background-color: white;
  outline-width: 1vw;
}
.container {
  align-items: center;
  font-size: flex;
  flex: auto;
}
#marvelTitle {
  color: #990000ff;
  font-size: 50px;
  flex: auto;
}
#wikiTitle {
  color: #990000ff;
  font-size: 50px;
  flex: auto;
}

#marvelOutput {
  color: ivory;
}

#wikiOutput {
  color: black;
}

body {
  background-image: url("https://www.wallpaperflare.com/static/929/186/553/avengers-logo-marvel-emblem-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Override materialize so display doesn't have so much padding */
.carousel {
  height: 250px;
}
/* Make Carousel links white */
.carousel-item {
  color: ivory;
  text-align: center;
}

.infobox {
    width: 24em;
    background: #f2f9ff;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .infobox {
    margin: 0 auto;    
  }

  #wikiOutput {
    text-align: center;
  }
}
