/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: center;
}
.icon-block .material-icons {
	font-size: flex;
}
.header {
  color: red;
  padding: center;
  font-family: fantasy;
  font-size: flex;
  font-weight: bolder;
  align-items: center;
  text-shadow: black;
}
.Character {
color: red;
font-weight: bold; 
background-color: white;
outline-width: 1vw;
}
.container {
  align-items: center;
  font-size: flex; flex: auto;
}
#marvelTitle {
  color: red;
  font-size: 50px; flex: auto;
}
#wikiTitle {
  color: red;
  font-size: 50px; flex: auto;
}
#marvelOutput {
 color: ivory;
}
#wikiOutput {
  color: ivory;
}
body {
  background-image: url("https://www.wallpaperflare.com/static/929/186/553/avengers-logo-marvel-emblem-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}